{% extends 'base.html' %}  
{% block title %}Editor{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="display-3 text-center mt-3">Log Editor</h3>
    </div>
    <div class="container">
        <form action="#">
            <div class="form-group mt-3 border p-3 w-75 m-auto">
                <legend class="text-center text-success">Site --siteID-- Data</legend>
                <div class="row">
                    <div class="col">
                        <label class="form-label" for="siteID">Site ID</label>
                        <input class="form-control" type="text" id="siteID" name="siteID">
                    </div>
                    <div class="col">
                        <label class="form-label" for="siteName">Site Name</label>
                        <input class="form-control" type="text" id="siteName" name="siteName">
                    </div>
                </div>
                <label class="form-label" for="address">Address</label>
                <input class="form-control" type="text" id="address" name="address">
                <div class="row">
                    <div class="col-6">
                        <label class="form-label" for="city">City</label>
                        <input class="form-control" type="text" id="city" name="city">
                    </div>
                    <div class="col-3">
                        <label class="form-label" for="state">State</label>
                        <input class="form-control" type="text" id="state" name="state">
                    </div>
                    <div class="col-3">
                        <label class="form-label" for="zip">Zip</label>
                        <input class="form-control" type="text" id="zip" name="zip">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 w-max-content">
                        <label class="form-label" for="parish">Parish</label>
                        <input class="form-control" type="text" id="parish" name="parish">
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="coordinates">Coordinates</label>
                        <input class="form-control" type="text" id="coordinates" name="coordinates">
                    </div>
                </div>
                <div class="row g-5">
                    <div class="col">
                        <label class="form-label" for="typeOf">Type</label>
                        <select class="form-select w-100" name="typeOf" id="typeOf">
                            <option value="Shelter">Shelter</option>
                            <option value="Cabinet">Cabinet</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label" for="owner">Owner</label>
                        <input class="form-control" type="text" id="owner" name="owner">              
                    </div>
                </div>
            </div>
            <div class="form-group mt-3 border p-3 w-75 m-auto">
                <legend class="text-center text-success">Unit Data</legend>
                <div class="row">
                </div>
                <label class="form-label" for="make">Unit Manufacturer</label>
                <select name="make" id="make" class="form-select">
                    <option value="None">choose one...</option>
                    <option value="Bard">Bard</option>
                    <option value="MarvAir">MarvAir</option>
                    <option value="other">other</option>
                </select>
                <label class="form-label" for="model">Unit Model No.</label>
                <input class="form-control" type="text" id="model" name="model">
                <label class="form-label" for="serial">Unit Serial No.</label>
                <input class="form-control" type="text" id="serial" name="serial">
                <div class="row">
                    <div class="col">
                        <label class="form-label" for="freon">Refrigerant</label>
                        <select name="freon" id="freon" class="form-select">
                            <option value="None">choose one...</option>
                            <option value="R22">R22</option>
                            <option value="R410a">R410a</option>
                            <option value="R134a">R134a</option>
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label" for="filters">Filter Size</label>
                        <select name="filters" id="filters" class="form-select">
                            <option value="None">choose one...</option>
                            <option value="20x30">20x30</option>
                            <option value="21.5x36x5">21.5x36.5</option>
                            <option value="15x20">15x20</option>
                            <option value="16x25">16x25</option>
                            <option value="other">other</option>
                        </select>
                    </div>
                </div>
                <label class="form-label" for="controller">Controller Model No.</label>
                <input class="form-control" type="text" id="controller" name="controller">
                <button class="btn btn-success mt-4 w-100" type="input">Send</button>
            </div>
        </form>
    </div>
{% endblock %}