{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="display-2 pt-3 text-center text-light">UDT Dashboard</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="display-4 text-center text-success p-3 mb-2">Start managing your sites.</h3>
        </div>
    </div>
</div>




<div class="container-lg">
    <div class="row mx-auto mb-3">
        <div class="btn-group mx-auto" style="width: 50%;" role="group">
            <a type="button" class="btn btn-outline-info text-light text-center text-nowrap" href="{{ url_for('main.create') }}">Add Site</a>         
            <a type="button" href="{{ url_for('main.map') }}" class="btn btn-outline-success">Map</a>
            <a type="button" class="btn btn-outline-success text-center text-nowrap" href="{{ url_for('main.search') }}">Search Sites</a>
        </div>
    </div>


    <div class="row justify-content-center mt-3">
        <div class="col"></div>
        <div class="col-10">
            <label class="form-label" for="searchBy"></label>
            <input class="form-control w-50 me-auto" placeholder="...ID | name | city | parish" type="text" name="q" hx-get="{{url_for('main.home_results')}}" hx-trigger="load, keyup changed delay:400ms" hx-target="#results-home">
            <div class="table-responsive-md">
                <table class="table table-borderless table-sm table-dark table-stripe mx-auto">
                    <thead class="text-start">
                        <tr> 
                            <th scope="col">Site ID</th>
                            <th scope="col">Site Name</th>
                            <th scope="col">City</th>
                            <th scope="col">Coordinates</th>
                        </tr>
                    </thead>
                    <tbody id="results-home">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}