{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="display-3 pt-3 text-center text-black bg-dark fw-bold">UDT <small class="text-info">Dashboard</small></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="display-6 text-center text-light">Start managing your sites.</h3>
        </div>
    </div>
</div>

<hr>


<div class="container">
    <div class="row">   
        <div class="col-12 mx-auto">
            <input class="form-control w-50 me-auto border-black border-5 rounded-pill" placeholder="search... " type="text" name="q" hx-get="{{url_for('main.home_results')}}" hx-trigger="load, keyup changed delay:400ms" hx-target="#results-home">
            
            <div class="table-responsive-lg mt-1">
                <table class="table table-borderless table-sm table-dark table-stripe mx-auto">
                    <thead class="text-start">
                        <tr> 
                            <th class="text-white bg-black" scope="col">Site ID</th>
                            <th class="text-white bg-black" scope="col">Site Name</th>
                            <th class="text-white bg-black" scope="col">City</th>
                            <th class="text-white bg-black d-none d-sm-block" scope="col">Coordinates</th>
                        </tr>
                    </thead>
                    <tbody id="results-home">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}