{% extends 'base.html' %}  
{% block title %}Maps{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center mt-3">
            <h3 class="display-4 text-decoration-underline">Site Map</h3>
        </div>
    </div>
    <div class="container mt-1">
        <div class="row text-center align-items-center">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/u/0/embed?mid=1iVn8SOtoD0SwNcKPWJknpFG1xACP9wM&ehbc=2E312F" width="330" height="375"></iframe>
            </div>
        </div>
    </div>
{% endblock %}