{% extends 'base.html' %}
{% block title %}Search Sites{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="display-3 text-center mb-3">Search Sites</h1>
        <div class="row text-center">
            <div class="col">
                <form action="{{ url_for('main.read') }}">
                    <label class="form-label" for="searchBy">Search by site name or site id</label>
                    <input class="form-control w-50 m-auto" type="text" name="searchBy" id="searchBy">
                </form>
            </div>
        </div>
        <div class="row" id="searchResults"></div>
    </div>
{% endblock %}